@* @{
    Layout = "_Layout";
}

@model Library.Models.Patron

<h1>Patron Details</h1>


<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>


    @foreach(CopyPatron c in @Models)
    {
        
    }


<p>@Html.ActionLink("Back to Patron List", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId})</p>
<p>@Html.ActionLink("Add Copy", "AddCopy", new { id = Model.PatronId})</p>
<p>@Html.ActionLink("Delete This Patron", "Delete", new { id = Model.PatronId})</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p> *@